@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {
    font-family: "Open Sans", sans-serif;
}

:root {
    --ui-background-primary: #FAFAFA;
    --ui-background-secondary:  #0D0E10;

    --ui-text-primary: #0D0E10;
    --ui-text-secondary: #FAFAFA;
    --ui-text-custom: #ff00d0;

    /* header */
    --ui-header-color: #0D0E10;
    
    /* inputfields */
    --ui-input-border: #adadad;
    --ui-input-background: #ededed;

    /* navigation */
    --ui-navigation-background: #FAFAFA;
    --ui-navigation-border: #adadad;
    --ui-navigation-menu-background: #FAFAFA;


    /* footer */
    --ui-footer-background: #FAFAFA;
    --ui-footer-color: #0D0E10;
    --ui-footer-border: #adadad;

    /* buttons */
    --ui-btn-primary-background: #0D0E10;
    --ui-btn-primary-color: #FAFAFA;

    --ui-btn-secondary-background: #FAFAFA;
    --ui-btn-secondary-color: #0D0E10;
    --ui-btn-secondary-border: #0D0E10;

    --ui-btn-danger-background: #e23b3b;
    --ui-btn-danger-color: #FAFAFA;

    --ui-btn-caution-background: yellow;
    --ui-btn-caution-color: 0D0E10;

    --ui-btn-cta-background: #00BA34;
    --ui-btn-cta-color: #0D0E10;

    --ui-btn-transparent-background: transparent;
    --ui-btn-transparent-color: #0D0E10;

    /* table */
    --ui-table-1: #dcdcdc;
    --ui-table-2: #c1c1c1;

    /* cards */
    --ui-card-background: #f5f5f5;
    --ui-card-color: #0D0E10;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

hr { background-color: black; height: 1px; border: 0; }